<?xml version="1.0"?>
<ruleset name="ChriCo WP Fields" namespace="ChriCo\Fields">
	<description>ChriCo WP Fields coding standard.</description>
	<file>./src</file>
    <rule ref="Inpsyde"/>

    <rule ref="Inpsyde">
        <!-- kind of hard..because we're having mixed values in form fields -->
        <exclude name="Inpsyde.CodeQuality.ArgumentTypeDeclaration.NoArgumentType" />
        <exclude name="Inpsyde.CodeQuality.ReturnTypeDeclaration.NoReturnType" />
    </rule>
</ruleset>