<?xml version="1.0"?>
<ruleset>

    <file>./src</file>

    <arg value="sp"/>
    <arg name="colors"/>
    <config name="testVersion" value="8.0-"/>
    <config name="ignore_warnings_on_exit" value="1"/>

    <rule ref="Inpsyde.CodeQuality.Psr4">
        <properties>
            <property name="psr4" type="array" value="ChriCo\Fields\=>src"/>
        </properties>
    </rule>

</ruleset>